@model IEnumerable<Doctor_MVC_Miniproject3.Models.Patient>

@{
    ViewData["Title"] = "Index";
}

<h1>Choose your doctor, availabilities acommand Book your appointment. </h1>
<div class="row">
     <div class="col-md-3">
        <h2>Dr.Amanda</h2>
        <p>SURGON.</p>   
        
        <img class="card-img" src="~/images/img-1.jpeg"alt="doctor image" />
       
    </div>
     <div class="col-md-3">
        <h2>Dr.suha</h2>
         <p>kIDS specialist.</p>
              
        <img class="card-img" src="~/images/img-4.jpeg"alt="doctor image" />
       
       
    </div>
     <div class="col-md-3">
        <h2>Dr.Srilu</h2>
         <p>Heart specialist.</p>
              
        <img class="card-img" src="~/images/img-1.jpeg"alt="doctor image" />
      
    </div>
     <div class="col-md-3">
        <h2>Dr.Deepthi</h2>
         <p>neuro specialist.</p>
             
        <img class="card-img" src="~/images/img-4.jpeg"alt="doctor image" />
      
    </div>
    
  </div>

<p>
    <a asp-action="Create">Book here</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PatientId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PatientId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PatientId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
