@model IEnumerable<Doctor_MVC_Miniproject3.Models.Patient>

@{
    ViewData["Title"] = "Index";
}

<h3  style="Text-Align:center;">Welcome to patients page!</h3>
<hr />
<h5>Choose your Doctor & Book an appointment</h5>

<body class="Patientbody">
    
        <div class="row">

            <div class="col-md-3">

                <div class="container py-5">


                    <div class="card">
                        <div class="card-header">
                            <h5>Dr,Amanda</h5>
                        </div>
                        <div class="card-body">
                            <img class="card-img" src="~/images/img-1.jpeg" alt="doctor image" />
                        </div>
                        <div class="card-footer">
                            <h5>Kids specialist</h5>
                            <h3>
                                <a id="101" class="btn btn-info rounded-0" asp-action="Create" asp-route-id="1" >Book here</a>
                            </h3>
                        </div>
                    </div>


                </div>

            </div>
            <div class="col-md-3">

                <div class="container py-5">

                    <div class="card">
                        <div class="card-header">
                            <h5>Dr,Srilu</h5>
                        </div>
                        <div class="card-body">
                            <img class="card-img" src="~/images/img-2.jpeg" alt="doctor image" />
                        </div>
                        <div class="card-footer">
                            <h5>Nureo surgin </h5>
                            <h3>
                                <a id="102" class="btn btn-info rounded-0" asp-action="Create" asp-route-id="2" >Book here</a>
                            </h3>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-3">

                <div class="container py-5">


                    <div class="card">
                        <div class="card-header">
                            <h5>Dr,Suhas</h5>
                        </div>
                        <div class="card-body">
                            <img class="card-img" src="~/images/img-3.jpeg" alt="doctor image" />
                        </div>
                        <div class="card-footer">
                            <h5>Cardiologist</h5>
                            <h3>
                                <a id="103" class="btn btn-info rounded-0" asp-action="Create" asp-route-id="3">Book here</a>
                            </h3>
                        </div>
                    </div>




                </div>

            </div>
            <div class="col-md-3">

                <div class="container py-5">
                    <div class="card">
                        <div class="card-header">
                            <h5>Dr,Amala</h5>
                        </div>
                        <div class="card-body">
                            <img class="card-img" src="~/images/img-4.jpeg" alt="doctor image" />
                        </div>
                        <div class="card-footer">
                            <h5>Gynacolagist </h5>
                            <h3>
                                <a id="104" class="btn btn-info rounded-0" asp-action="Create" asp-route-id="4">Book here</a>

                            </h3>
                            <td>
                            </td>
                        </div>
                    </div>

                </div>

            </div>
            </div>

              <br />
        <hr />



        <table class="data table table-striped no-margin">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.PatientName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Age)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Start)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.End)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PatientName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.End)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PatientId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.PatientId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.PatientId">Delete</a>
                    </td>

                </tr>
                }
            </tbody>
        </table>

    </div>
    </div>
    ...
</body>
