@model IEnumerable<Doctor_MVC_Miniproject3.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}
<p>Here are the patients details with respective doctor name and timings.</p>
<hr />

<br />

<table  class="table table-hover">
    <thead class="table-dark">
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient.End)
            </th>
           
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.DOctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.PatientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.End)
            </td>
            
           
        </tr>
}
    </tbody>
</table>
