@model IEnumerable<Doctor_MVC_Miniproject3.Models.Doctor>
@using Doctor_MVC_Miniproject3.Models

@{
    ViewData["Title"] = "Index";
}
<body class="Doctorsbody">
<h1 style="Text-Align:center;">Welcome to Doctor's page!</h1>
<hr />
<br />
<div class="row">
    <div class="col-md-6">
       <button type="button" class="btn btn-outline-primary"> <a  asp-controller="Appointments">see your appointments here</a></button>
       </div>
       <div class="col-md-6">
         <button type="button" class="btn btn-outline-primary"> <a asp-action="Create">Add new Doctors here</a></button>
       </div>
</div>


  <!-- <a Response.Redirect(Url.Action("action", "Patientcontroller"))>see</a> -->
  <br />
  <hr />
           


<table class="table table-hover">
    <thead>
        <tr class="p-3 mb-2 bg-dark text-white">
            <th>
                @Html.DisplayNameFor(model => model.DOctorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specliazation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="p-3 mb-2 bg-white text-dark">
            <td>
                @Html.DisplayFor(modelItem => item.DOctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specliazation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DoctorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DoctorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DoctorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
